<!--https://irimall.ru/-->

<!DOCTYPE html>
<html
        lang="ru" dir="ltr">
<head>
    <title>Маркетплейс IRIMALL – тысячи товаров с доставкой</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" data-ca-mode="plus"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
</head>

{% block stylesheets %}
    {{ encore_entry_link_tags('b2c-style1-menu') }}
{% endblock %}

<body>

<div class="ty-tygh   bp-tygh-container" id="tygh_container">

    <div class="ty-helper-container " id="tygh_main_container">


        <div class="tygh-top-panel clearfix">
            <div class="container-fluid  top-grid">

                <div class="container-fluid-row">
                    <div class="row-fluid ">
                        <div class="span4  ">
                            <div class=" ty-float-left">

                                <div class="ty-geo-maps__geolocation"
                                     data-ca-geo-map-location-is-location-detected="true"
                                     data-ca-geo-map-location-element="location_block"
                                     id="geo_maps_location_block_1401"
                                >


                                    <a id="opener_geo_maps_location_dialog_1401"
                                       class="cm-dialog-opener cm-dialog-auto-size ty-geo-maps__geolocation__opener"
                                       href=""
                                       data-ca-target-id="content_geo_maps_location_dialog_1401"
                                       data-ca-dialog-title="Customer location"
                                       rel="nofollow"
                                    >
                                        <i class="ty-icon-location-arrow"></i> <span
                                            class="ty-geo-maps__geolocation__opener-text">            <span
                                            data-ca-geo-map-location-element="location"
                                            class="ty-geo-maps__geolocation__location">Ваш город</span>
        </span>
                                    </a>


                                    <div class="hidden" id="content_geo_maps_location_dialog_1401"
                                         title="Выберите ваш город">

                                    </div>

                                    <!--geo_maps_location_block_1401--></div>

                            </div>
                        </div>


                        <div class="span12 top-links-grid ">
                            <div class="top-currencies ty-float-right">
                                <div id="currencies_69">

                                    <!--currencies_69--></div>

                            </div>
                            <div class="top-quick-links ty-float-right">


                                <div class="ty-text-links-wrapper">
        <span id="sw_text_links_1404" class="ty-text-links-btn cm-combination visible-phone">
            <i class="ty-icon-short-list"></i>
            <i class="ty-icon-down-micro ty-text-links-btn__arrow"></i>
        </span>

                                    <ul id="text_links_1404"
                                        class="ty-text-links cm-popup-box ty-text-links_show_inline">
                                        <li class="ty-text-links__item ty-level-0">
                                            <a class="ty-text-links__a"
                                               href=""
                                            >
                                                Зарабатывайте с нами
                                            </a>
                                        </li>
                                        <li class="ty-text-links__item ty-level-0">
                                            <a class="ty-text-links__a"
                                               href=""
                                            >
                                                Стать продавцом
                                            </a>
                                        </li>
                                        <li class="ty-text-links__item ty-level-0">
                                            <a class="ty-text-links__a"
                                               href=""
                                            >
                                                Продавцы
                                            </a>
                                        </li>
                                        <li class="ty-text-links__item ty-level-0 ty-quick-menu__delivery">
                                            <a class="ty-text-links__a"
                                               href=""
                                            >
                                                Доставка и оплата
                                            </a>
                                        </li>
                                        <li class="ty-text-links__item ty-level-0">
                                            <a class="ty-text-links__a"
                                               href=""
                                            >
                                                Возврат
                                            </a>
                                        </li>
                                        <li class="ty-text-links__item ty-level-0 ty-quick-menu__contacts">
                                            <a class="ty-text-links__a"
                                               href=""
                                            >
                                                Контакты
                                            </a>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="tygh-header clearfix">
            <div class="container-fluid  header-grid light-header">

                <div class="container-fluid-row">
                    <div class="row-fluid ">
                        <div class="span16 top-menu-grid ">
                            <div class="row-fluid ">
                                <div class="span4 top-logo ">
                                    <div class="ty-dropdown-box  top-menu-grid-vetrtical">
                                        <div id="sw_dropdown_1405" class="ty-dropdown-box__title cm-combination ">

                                            <a>Каталог товаров</a>


                                        </div>

                                    </div>
                                    <div class="top-logo ">
                                        <div class="ty-logo-container">

                                            <a href="" title="">


                                                <img class="ty-pict  ty-logo-container__image cm-image"
                                                     id="det_img_1917677821"
                                                     src=""
                                                     width="1740" height="539" alt="" title=""/>


                                            </a>
                                        </div>

                                    </div>
                                </div>


                                <div class="span9 top-search ">
                                    <a href="javascript:void(0);" rel="nofollow"
                                       onclick="$(this).parent().next().toggleClass('hidden');$(this).next().toggleClass('view');$(this).toggleClass('hidden');"
                                       class="ut2-btn-search"><i class="ut2-icon-search"></i></a>

                                    <div class="ty-search-block">
                                        <form action="" name="search_form" method="get">
                                            <input type="hidden" name="match" value="all"/>
                                            <input type="hidden" name="subcats" value="Y"/>
                                            <input type="hidden" name="pcode_from_q" value="Y"/>
                                            <input type="hidden" name="pshort" value="Y"/>
                                            <input type="hidden" name="pfull" value="Y"/>
                                            <input type="hidden" name="pname" value="Y"/>
                                            <input type="hidden" name="pkeywords" value="Y"/>
                                            <input type="hidden" name="search_performed" value="Y"/>


                                            <input type="text" name="q" value="" id="search_input" title="Искать товары"
                                                   class="ty-search-block__input cm-hint"/>
                                            <button title="Найти" class="ty-search-magnifier" type="submit"><i
                                                    class="ut2-icon-search"></i></button>
                                            <input type="hidden" name="dispatch" value="products.search"/>

                                            <input type="hidden" name="security_hash" class="cm-no-hide-input"
                                                   value="c89a70d7a75c557b77aea06c8e959c36"/></form>
                                    </div>
                                </div>


                                <div class="span3 top-buttons ">
                                    <div class="hidden-phone ">

                                        <div class="ut2-compared-products" id="abt__ut2_compared_products">
                                            <a class="cm-tooltip ty-compare__a " href=""
                                               rel="nofollow" title="Просмотреть Список сравнения"><i
                                                    class="ut2-icon-baseline-equalizer"></i></a>
                                            <!--abt__ut2_compared_products--></div>

                                        <div class="ut2-wishlist-count" id="abt__ut2_wishlist_count">
                                            <a class="cm-tooltip ty-wishlist__a " href=""
                                               rel="nofollow" title="Просмотреть список отложенных товаров"><i
                                                    class="ut2-icon-baseline-favorite-border"></i></a>
                                            <!--abt__ut2_wishlist_count--></div>

                                    </div>
                                    <div class="ut2-top-my-account ">

                                        <div class="ty-dropdown-box" id="account_info_1411">
                                            <div id="sw_dropdown_77" class="ty-dropdown-box__title cm-combination">
                                                <div>

                                                    <a class="ac-title">
                                                        <i class="ut2-icon-outline-account-circle"></i>
                                                        <span>Аккаунт<i class="ut2-icon-outline-expand_more"></i></span>
                                                    </a>


                                                </div>
                                            </div>

                                            <div id="dropdown_77" class="cm-popup-box ty-dropdown-box__content hidden">

                                                <ul class="ty-account-info">

                                                    <li class="ty-account-info__item ty-dropdown-box__item"><a
                                                            class="ty-account-info__a underlined"
                                                            href="" rel="nofollow">Заказы</a>
                                                    </li>
                                                    <li class="ty-account-info__item ty-dropdown-box__item"><a
                                                            class="ty-account-info__a underlined"
                                                            href="" rel="nofollow">Список
                                                        сравнения</a></li>

                                                    <li class="ty-account-info__item ty-dropdown-box__item">
                                                        <a class="ty-account-info__a underlined"
                                                           href=""
                                                           rel="nofollow">
                                                            Партнерство
                                                        </a>
                                                    </li>

                                                    <li class="ty-account-info__item ty-dropdown-box__item">
                                                        <a href="" rel="nofollow"
                                                           class="ty-account-info__a">Запросы на возврат</a>
                                                    </li>
                                                    <li class="ty-account-info__item ty-dropdown-box__item"><a
                                                            class="ty-account-info__a"
                                                            href="" rel="nofollow">Отложенные
                                                        товары</a></li>
                                                </ul>

                                                <div class="ty-account-info__orders updates-wrapper track-orders"
                                                     id="track_orders_block_1411">
                                                    <form action="" method="POST"
                                                          class="cm-ajax cm-post cm-ajax-full-render"
                                                          name="track_order_quick">
                                                        <input type="hidden" name="result_ids"
                                                               value="track_orders_block_*"/>
                                                        <input type="hidden" name="return_url"
                                                               value="index.php?yadclid=93211262&amp;yadordid=162407601&amp;yclid=250869976837128191"/>

                                                        <div class="ty-account-info__orders-txt">Отслеживание заказа
                                                        </div>

                                                        <div class="ty-account-info__orders-input ty-control-group ty-input-append">
                                                            <label for="track_order_item1411"
                                                                   class="cm-required hidden">Отслеживание
                                                                заказа</label>
                                                            <input type="text" size="20" class="ty-input-text cm-hint"
                                                                   id="track_order_item1411" name="track_data"
                                                                   value="Номер заказа/E-mail"/>
                                                            <button title="Выполнить" class="ty-btn-go" type="submit"><i
                                                                    class="ty-btn-go__icon ty-icon-right-dir"></i>
                                                            </button>
                                                            <input type="hidden" name="dispatch"
                                                                   value="orders.track_request"/>

                                                        </div>
                                                        <input type="hidden" name="security_hash"
                                                               class="cm-no-hide-input"
                                                               value="c89a70d7a75c557b77aea06c8e959c36"/></form>
                                                    <!--track_orders_block_1411--></div>

                                                <div class="ty-account-info__buttons buttons-container">
                                                    <a href=""
                                                       data-ca-target-id="login_block1411"
                                                       class="cm-dialog-opener cm-dialog-auto-size ty-btn ty-btn__secondary"
                                                       rel="nofollow">Войти</a><a href=""
                                                                                  rel="nofollow"
                                                                                  class="ty-btn ty-btn__primary">Регистрация</a>
                                                    <div id="login_block1411" class="hidden" title="Войти">
                                                        <div class="ty-login-popup">


                                                            <div id="popup1411_login_popup_form_container">
                                                                <form name="popup1411_form" action=""
                                                                      method="post" class="cm-ajax cm-ajax-full-render">
                                                                    <input type="hidden" name="result_ids"
                                                                           value="popup1411_login_popup_form_container"/>
                                                                    <input type="hidden" name="login_block_id"
                                                                           value="popup1411"/>
                                                                    <input type="hidden" name="quick_login" value="1"/>

                                                                    <input type="hidden" name="return_url"
                                                                           value="index.php?yadclid=93211262&amp;yadordid=162407601&amp;yclid=250869976837128191"/>
                                                                    <input type="hidden" name="redirect_url"
                                                                           value="index.php?yadclid=93211262&amp;yadordid=162407601&amp;yclid=250869976837128191"/>


                                                                    <div class="ty-control-group">
                                                                        <label for="login_popup1411"
                                                                               class="ty-login__filed-label ty-control-group__label cm-required cm-trim cm-email">E-mail</label>
                                                                        <input type="text" id="login_popup1411"
                                                                               name="user_login" size="30" value=""
                                                                               class="ty-login__input cm-focus"/>
                                                                    </div>

                                                                    <div class="ty-control-group ty-password-forgot">
                                                                        <label for="psw_popup1411"
                                                                               class="ty-login__filed-label ty-control-group__label ty-password-forgot__label cm-required">Пароль</label><a
                                                                            href=""
                                                                            class="ty-password-forgot__a" tabindex="5">Забыли
                                                                        пароль?</a>
                                                                        <input type="password" id="psw_popup1411"
                                                                               name="password" size="30" value=""
                                                                               class="ty-login__input" maxlength="32"/>
                                                                    </div>


                                                                    <div class="ty-login-reglink ty-center">
                                                                        <a class="ty-login-reglink__a"
                                                                           href=""
                                                                           rel="nofollow">Создать учетную запись</a>
                                                                    </div>


                                                                    Войти через соц. сеть:
                                                                    <p class="ty-text-center">
                                                                        <input type="hidden" name="redirect_url"
                                                                               value="index.php?yadclid=93211262&amp;yadordid=162407601&amp;yclid=250869976837128191"/><a
                                                                            class="cm-login-provider ty-hybrid-auth__icon"
                                                                            data-idp="1" data-provider="google"><img
                                                                            src=""
                                                                            title="google" alt="google"/></a><a
                                                                            class="cm-login-provider ty-hybrid-auth__icon"
                                                                            data-idp="2" data-provider="yandex"><img
                                                                            src=""
                                                                            title="yandex" alt="yandex"/></a><a
                                                                            class="cm-login-provider ty-hybrid-auth__icon"
                                                                            data-idp="3" data-provider="vkontakte"><img
                                                                            src=""
                                                                            title="vkontakte" alt="vkontakte"/></a><a
                                                                            class="cm-login-provider ty-hybrid-auth__icon"
                                                                            data-idp="4" data-provider="mailru"><img
                                                                            src=""
                                                                            title="mailru" alt="mailru"/></a></p>


                                                                    <div class="buttons-container clearfix">
                                                                        <div class="ty-float-right">


                                                                            <button class="ty-btn__login ty-btn__secondary ty-btn"
                                                                                    type="submit"
                                                                                    name="dispatch[auth.login]">
                                                                                <span><span>Войти</span></span></button>


                                                                        </div>
                                                                        <div class="ty-login__remember-me">
                                                                            <label for="remember_me_popup1411"
                                                                                   class="ty-login__remember-me-label"><input
                                                                                    class="checkbox" type="checkbox"
                                                                                    name="remember_me"
                                                                                    id="remember_me_popup1411"
                                                                                    value="Y"/>Запомнить</label>
                                                                        </div>
                                                                    </div>


                                                                    <input type="hidden" name="security_hash"
                                                                           class="cm-no-hide-input"
                                                                           value="c89a70d7a75c557b77aea06c8e959c36"/>
                                                                </form>

                                                                <!--popup1411_login_popup_form_container--></div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--account_info_1411--></div>
                                        </div>
                                    </div>
                                    <div class="ut2-top-cart-content ">

                                        <div class="ty-dropdown-box" id="cart_status_1412">
                                            <div id="sw_dropdown_1412" class="ty-dropdown-box__title cm-combination">
                                                <a href="" class="ac-title ty-hand">

                                                    <i class="ut2-icon-outline-cart empty"><span
                                                            class="ty-minicart-count ty-hand empty">0</span></i><span>Корзина<i
                                                        class="ut2-icon-outline-expand_more"></i></span>


                                                </a>
                                            </div>
                                            <div id="dropdown_1412"
                                                 class="cm-popup-box ty-dropdown-box__content ty-dropdown-box__content--cart hidden">

                                                <div class="cm-cart-content cm-cart-content-thumb cm-cart-content-delete">
                                                    <div class="ty-cart-items">
                                                        <div class="ty-cart-items__empty ty-center">Корзина пуста</div>


                                                    </div>

                                                    <div class="cm-cart-buttons ty-cart-content__buttons buttons-container hidden">
                                                        <div class="ty-float-left">
                                                            <a href="" rel="nofollow"
                                                               class="ty-btn ty-btn__secondary">Корзина</a>
                                                        </div>
                                                        <div class="ty-float-right">


                                                            <a href=""
                                                               class="ty-btn ty-btn__primary "><i
                                                                    class="ty-icon-ok"></i><span>Оформить заказ</span></a>


                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
