<!DOCTYPE html>
<html>
<head>
    {% block headData %}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% endblock %}

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
{#        {{ encore_entry_link_tags('entryName') }}#}
    {% endblock %}

    {% block javascripts %}
{#        {{ encore_entry_script_tags('entryName') }}#}
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>
