{# https://www.roseltorg.ru/procedure/0373100113722000043 #}

{% block headData %}
    <meta charset="utf-8"/>
    <title>Информация о процедуре</title>
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('b2b-style1-table') }}
{% endblock %}


{% block body %}
    <main role="main" class="procedure-page">
        <section class="description procedure-description">
            <div class="content-wrapper procedure-description__wrapper">
                <div class="description__heading">
                    <h1 class="description__main-header main-header">Процедура: 0373100113722000043</h1>
                </div>
                <table class="data-table data-table--header description__data-table description__data-table--header">
                    <tr class="data-table__item">
                        <td class="data-table__title-td">
                            <span class="data-table__title">Наименование процедуры</span>
                        </td>
                        <td class="data-table__info-td">
                            <p class="data-table__info">
                                Поставка лекарственных препаратов для медицинского применения: МНН Хлорпротиксен
                                (Психиатрия, Наркология)
                            </p>
                        </td>
                    </tr>
                </table>

                <table class="description__data-table data-table" data-striping="1">
                    <tbody>
                    <tr class="data-table__item odd">
                        <td class="data-table__title-td"><span class="data-table__title">Организатор</span></td>
                        <td class="data-table__info-td">
                            <p class="data-table__info">
                                ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ
                                "НАЦИОНАЛЬНЫЙ МЕДИЦИНСКИЙ ИССЛЕДОВАТЕЛЬСКИЙ ЦЕНТР ПСИХИАТРИИ И НАРКОЛОГИИ
                                ИМЕНИ В.П. СЕРБСКОГО" МИНИСТЕРСТВА ЗДРАВООХРАНЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ (ИНН 7704032379)
                            </p>
                        </td>
                    </tr>
                    <tr class="data-table__item even">
                        <td class="data-table__title-td"><span class="data-table__title">Почтовый адрес</span></td>
                        <td class="data-table__info-td"><p class="data-table__info">
                                Российская Федерация, 119034, Москва, ПЕР КРОПОТКИНСКИЙ, 23
                            </p></td>
                    </tr>
                    <tr class="data-table__item odd">
                        <td class="data-table__title-td"><span class="data-table__title">Телефон</span></td>
                        <td class="data-table__info-td">
                            <p class="data-table__info">
                                7-495-6374607
                            </p>
                        </td>
                    </tr>
                    <tr class="data-table__item even">
                        <td class="data-table__title-td"><span class="data-table__title">E-mail</span></td>
                        <td class="data-table__info-td">
                            <p class="data-table__info">
                                zhavoolga@yandex.ru
                            </p>
                        </td>
                    </tr>
                    <tr class="data-table__item odd">
                        <td class="data-table__title-td"><span class="data-table__title">Способ проведения</span></td>
                        <td class="data-table__info-td">
                            <p class="data-table__info">
                                Открытый аукцион в электронной форме
                            </p>
                        </td>
                    </tr>
{#                    <tr class="data-table__item even">#}
{#                        <td class="data-table__title-td"><span class="data-table__title">Электронная площадка</span>#}
{#                        </td>#}
{#                        <td class="data-table__info-td"><p class="data-table__info">Государственные закупки (44-ФЗ), <a#}
{#                                        href="https://etp.roseltorg.ru" target="_blank">etp.roseltorg.ru</a></p></td>#}
{#                    </tr>#}
{#                    <tr class="data-table__item odd">#}
{#                        <td class="data-table__title-td"><span class="data-table__title">Дополнительные условия</span>#}
{#                        </td>#}
{#                        <td class="data-table__info-td"><p class="data-table__info">Для субъектов малого и среднего#}
{#                                предпринимательства</p></td>#}
{#                    </tr>#}
                    </tbody>
                </table>

                <div class="description__action-bar">

                    {% if isRequested == false %}
                        <a class="button button--large button--blue button--main-action" href="/preview/request/1">
                            Подать заявку
                        </a>
                    {% else %}
                        <div class="button button--large button--blue-white-opt">
                            Заявка подана
                        </div>
                    {% endif %}

{#                    <a class="button button--large button--blue-white-opt" href="">#}
{#                        Проверить заявку#}
{#                    </a>#}
                </div>
            </div>
        </section>
    </main>
{% endblock %}


